@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*HOME PAGE ANIMATION*/

/* .bar_content {
  display: block; Important to give the content a width
  width: 100%;
  transform: translateX(100%); Animation start out of the screen
  animation: move 10s linear infinite Add the animation
    infinite make reapeat the animation indefinitely;
}

Create the animation
@keyframes move {
  to {
    transform: translateX(-100%);
  }
} */
@keyframes moveLeft {
  from {
    transform: translateX(-50%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes moveRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.bar_content:nth-child(odd) {
  animation: moveLeft 1s linear infinite;
}
.bar_content:nth-child(even) {
  animation: moveRight 1s linear infinite;
}

.home-carousel {
  animation: opaque 2s ease-in-out infinite;
  transition: 2s ease-in-out;
}

@keyframes opaque {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
/*HOME PAGE ANIMATION ENDS*/

/*MARKET PLACE CSS STYLES*/
.marketplace-search::-webkit-search-cancel-button{
  -webkit-appearance: none;
  height: 1em;
  width: 1em;
  border-radius: 50em;
  background: url("https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg");
}

.filter-select{
  background: url("data:image/svg+xml,<svg height='10px' width='10px' viewBox='0 0 16 16' fill='%23000000' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>") no-repeat;
  background-position: calc(100% - 1rem) center !important;
  -moz-appearance:none !important;
  -webkit-appearance: none !important; 
  appearance: none !important;
  padding-right: 2rem !important;
}
.sort-select{
  background: url("data:image/svg+xml,<svg height='10px' width='10px' viewBox='0 0 16 16' fill='%23000000' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>") no-repeat;
  background-position: calc(100% - 1rem) center !important;
  -moz-appearance:none !important;
  -webkit-appearance: none !important; 
  appearance: none !important;
  padding-right: 2rem !important;
}