@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*HOME PAGE ANIMATION*/

/* .bar_content {
  display: block; Important to give the content a width
  width: 100%;
  transform: translateX(100%); Animation start out of the screen
  animation: move 10s linear infinite Add the animation
    infinite make reapeat the animation indefinitely;
}

Create the animation
@keyframes move {
  to {
    transform: translateX(-100%);
  }
} */
@keyframes moveLeft {
  from {
    transform: translateX(-50%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes moveRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.bar_content:nth-child(odd) {
  animation: moveLeft 1s linear infinite;
}
.bar_content:nth-child(even) {
  animation: moveRight 1s linear infinite;
}
